header {
    color: rgb(0, 162, 255);
    background: black;
    font-family: "Chakra Petch", sans-serif;
  }
  
  header {
    border-bottom: solid 1px rgb(255, 255, 255);
    padding: 20px;
   
    color: rgb(0, 162, 255);
  }
  
  section {
    background: rgb(0, 0, 0);
    padding-bottom: 1px;
    padding-top: 1px;
    display: flex;
    justify-content: center;
  }
  
  .chamada-texto {
    margin-right: 10%;
  }
  
  h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
  }
  img {
    height: 200px;
  }
  .categoria-videos {
   padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
  }
  section {
    padding-left: 0px;
    padding-right: 0px;
  }
  .categoria {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
  }
  .categoria-videos img {
    opacity: 0.5;
    height: 100px;
}
.categoria-videos img:hover {
  opacity: 1.0;
  border: 1px solid rgb(255, 255, 255);
}
.categoria h2 {
  color: rgb(42, 122, 228);
  padding-top: 50px;
  height: 100px;
  display: flex;
  justify-content: center;
}
